{% extends "base.html" %}

{% block main %}

<section class="section">
    <div class="container">
        <h1 class="title">Kontostand</h1>
        <h2 class="subtitle">Hier kannst du sehen, was der Kontostand einer bestimmten Adresse ist</h2>
        <hr>
        
        <div class="block">
            <b>Addresse:</b>
            <span style="word-wrap: anywhere;">{{address}}</span>
        </div>
        <div class="block">
            <b>Kontostand:</b>
            {{balance}}
        </div>
        
    </div>
        
    </div>
</section>

{% endblock %}