{% extends "base.html" %}

{% block main %}

<section class="section">
<div class="container">
<h1 class="title">Die Blockchain </h1>
<h2 class="subtitle">Jeder Kasten repräsentiert einen Block der Blockchain. Klicke ihn an, um Informationen über die gespeicherten Transaktionen zu erhalten.</h2>
<hr>

<div class="columns is-multiline">
    {% for block in chain %}
    <div class="column">
        <div class="card is-clickable {% if loop.index-1 == index %}has-background-primary{% else %}has-background-grey-lighter{% endif %}" onclick="window.location = window.location.pathname+'?q={{loop.index-1}}'">
            <div class="card-header">
                <p class="card-header-title">Block {{loop.index-1}}{% if loop.index-1 == 0 %} (Genisis Block){% endif %}</p>
            </div>
            <div class="card-content">
                <p class="is-size-5">Hash</p> <blockquote class="is-size-6">{{block.hash  | truncate(30)}}</blockquote>
                <hr>
                <p class="is-size-5">Previous Hash</p> <blockquote>{{block.previousHash  | truncate(30)}}</blockquote>
                <hr>
                <p class="is-size-5">Timestamp</p> <blockquote>{{block.timestamp}}</blockquote>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
</section>

<section class="section">
<div class="container">
<h1 class="title">Transaktionen in Block {{index}}{% if index == 0 %} (Genisis Block){% endif %}</h1>
<hr>

<table class="table">
<thead>
<tr>
    <th>Absender</th>
    <th>Empfänger</th>
    <th>Wert</th>
</tr>
</thead>
<tbody>
    {% for transaction in chain[index].transactions %}
    <tr>
        <td>
            <a style="word-wrap: anywhere;" href="/balance?address={{transaction.fromAddress}}">{{transaction.fromAddress | truncate(20)}}</a>
        </td>
        <td>
            <a style="word-wrap: anywhere;" href="/balance?address={{transaction.toAddress}}">{{transaction.toAddress | truncate(20)}}</a>
        </td>
        <td>
            {{transaction.amount}}
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">
            Keine Transaktionen im Block
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</section>
{% endblock %}