{% extends "base.html" %}

{% block main %}

<p>
    <h1 class="title">Die Blockchain </h1>
    <h2 class="subtitle">Jeder Kasten repräsentiert einen Block der Blockchain. Klicke ihn an, um Informationen über die gespeicherten Transaktionen zu erhalten.</h2>
</p>

<p class="blockInfo">
   <div class="columns is-mobile">
        {% for block in chain %}
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h3 class="subtitle">Block</h3> <br> {{block.number}}
                </div>
                <div class="card-content">
                    <h3 class="subtitle">Hash</h3> <br> {{block.hash}}
                </div>
                <div class="card-content">
                    <h3 class="subtile">Previous Hash</h3> {{block.previousHash}}
                </div>
                <div class="card-content">
                    <h3 class="subtitle">Timestamp</h3> {{block.timestamp}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</p>

<p>
    <h1>Transaktionen in Block {{chain[index].number}}</h1>
</p>

<p class="transactionInfo">
    <table>
        {% for transaction in chain[index].transactions %}
        <tr>
            <td>
                {{transaction.from}}
            </td>
            <td>
                {{transaction.to}}
            </td>
            <td>
                {{transaction.amount}}
            </td>
            <td>
                {{transaction.timestamp}}
            </td>
            <td>
                {{transaction.valid}}
            </td>
        </tr> 
        {% endfor %}
    </table>
</p>
{% endblock %}