{% extends "base.html" %}

{% block main %}

<h1 class="title is-2">Ausstehende Transaktionen</h1>
<h2 class="subtitle is-5">Diese Transaktionen werden im nächsten Block enthalten sein, der erstellt wird, wenn Du den Minder startest</h2>

<table class="table">
<thead>
<tr>
<th><abbr title="Origin Adress">From</abbr></th>
<th><abbr title="Target Adress">To</abbr></th>
<th>Amount</th>
<th>Valid</th>
</tr>
</thead>
<tbody>
    {% for transaction in transactions %}
    <tr>
        <td>
            {{transaction.fromAddress}}
        </td>
        <td>
            {{transaction.toAddress}}
        </td>
        <td>
            {{transaction.amount}}
        </td>
        <td>
            {{transaction.valid}}
        </td>
    </tr> 
    {% endfor %}
    </tbody>
</table>

<a class="button is-link">Miner starten</a>
{% endblock %}