{% extends "base.html" %}

{% block main %}
<p>
    <h1>Transaktion erstellen</h1>
    <h2>Hier kannst du Geld an deine Freunde senden</h2>
</p>
<form>
    <p class="from">
        <div>Senderadresse</div>
        <input/>
        <div>Dies ist die Adresse zu deinem Geldbeutel. Du kannst sie nicht änder, sonst könntest Du ja das Geld anderer Leute ausgeben!</div>
    </p>

    <p class="to">
        <div>Empfängeradresse</div>
        <input class="input is-primary" type="text" placeholder="Empfängeradresse"/>
        <div>Trage hier den Empfänger ein, der deine Überweisung enthalten soll. (Du kannst hier einen beliebigen Text eingeben)</div>
    </p>
    <p class="amount">
        <div>Betrag</div>
        <input class="input is-primary" type="text" placeholder="Betrag"/>
        <div>Trage hier den Betrag ein, den Du überweisen willst</div>
    </p>

</form>

{% endblock %}